@charset "UTF-8";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    line-height: 1.2;
  }

  body {
    margin: 0;
  }
}

@layer layout {
  body {
    margin: 8px;
    min-width: 320px;
    min-height: 320px;
  }
}
